<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2>Welcome to my Angular hotness.</h2>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <!-- <app-servers></app-servers> tag-->
      <!-- <div app-servers></div> attribute-->
      <div class="app-servers"></div> <!--class-->
      <warning-alert></warning-alert>
      <success-alert></success-alert>
      <!-- <button
        class="btn btn-primary"
        (click)="displayText = !displayText">Display details</button>
      <p *ngIf="displayText">This is the toggle-text that gives details</p> -->

      <button
        class="btn btn-primary"
        (click)="onToggleDetails()">Display details</button>
      <p *ngIf="displayText">This is the toggle-text that gives details</p>
      <div
        *ngFor="let item of log; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
        [ngClass]="{'white-text': i >= 4}"
      >{{ item }}</div>
    </div>
  </div>
</div>
