<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2>Welcome to my Angular hotness.</h2>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" [(ngModel)]="name">
      <p>{{ name }}</p>
      <hr>
      <!-- <app-servers></app-servers> tag-->
      <!-- <div app-servers></div> attribute-->
      <div class="app-servers"></div> <!--class-->
      <warning-alert></warning-alert>
      <success-alert></success-alert>
    </div>
  </div>
</div>
