body {
        display: flex;
        background-color: #a6c871;
        flex-direction: column;
        align-items: center;
}

main {
        display: flex;
        margin: auto;
        width: 515px;
        flex-wrap: wrap;
}

header {
        display: flex;
        justify-content: center;
}

img {
        height: 100%;

}
