body {
        display: flex;
        flex-direction: column;
        align-items: center;
}

main {
        display: flex;
        margin: auto;
        min-width: 400px;
        max-width: 600px;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1 1;
}

header {
        display: flex;
        justify-content: center;
}

img {
        height: 100%;

}
