nav {background: aliceblue;
             width: 16em;
             margin-left: -13em;
             padding-left: 15px;
             margin-bottom: 30px;
}

nav:hover {margin-left: -10px;}

img {width: 35em;}

nav li {padding-left: 15px;}

article {margin-left: 25px;}

h1  {background: cadetblue;
     color: floralwhite;
     width: 550px;
     margin: -10px;
     padding-left: 40px;
}

h2 {margin-top: 60px;}

h4 {margin-bottom: 10px;
    margin-top: 40px;
}

table, th, td   {text-align: center;
                 border: 1px solid black;
                 border-collapse: collapse;
                 padding: 2px;
}

table {margin-left: 2em;}

th {background-color:aliceblue}">This recipe</a> is my favorite.</p>    
    <ul>
        <li><a href="#Ingredients">Ingredients</a></li>
        <li><a href="#Oil">Make the Chili Oil</a></li>
        <li><a href="#Meat">Prep the Meat</a></li>
        <li><a href="#Sauce">Make the Sauce</a></li>
        <li><a href="#Noodles">The Noodles, and final assembly</a></li>
    </ul>

    <h3 id="Ingredients">Ingredients Required</h3>

    <h4>Chili Oil</h4>
    <table>
        <tr><th>Ingredient</th><th>Amount</th></tr>
        <tr><td>Sichuan peppercorns</td><td>2 tablespoons</td></tr>
        <tr><td>cinnamon</td><td>1 inch-long piece</td></tr>
        <tr><td>star anise</td><td>2 pieces</td></tr>
        <tr><td>oil</td><td>1 cup</td></tr>
        <tr><td>crushed red pepper flakes</td><td>1/4 cup</td></tr>
    </table>   

    <h4>For the meat</h4>
    <table>    
        <tr><th>Ingredient</th><th>Amount</th></tr>
        <tr><td>oil</td><td>3 teaspoons</td></tr>
        <tr><td>veggie crumbles</td><td>8 oz.</td></tr>
        <tr><td>hoisin sauce</td><td>2 teaspoons</td></tr>
        <tr><td>shaoxing wine</td><td>2 teaspoons</td></tr>
        <tr><td>dark soy sauce</td><td>1 teaspoon</td></tr>
        <tr><td>five spice powder</td><td>1/2 teaspoon</td></tr>
    </table>

    <h4>For the sauce</h4>
    <table>    
        <tr><th>Ingredient</th><th>Amount</th></tr>
        <tr><td>sesame paste</td><td>2 tablespoons</td></tr>
        <tr><td>soy sauce</td><td>3 tablespoons</td></tr>
        <tr><td>sugar</td><td>2 teaspoons</td></tr>
        <tr><td>five spice powder</td><td>1/4 teaspoon</td></tr>
        <tr><td>Sichuan peppercorns</td><td>1/2 teaspoon</td></tr>
        <tr><td>prepared chili oil</td><td>1/2 of total amt.</td></tr>
        <tr><td>garlic</td><td>2 cloves</td></tr>
        <tr><td>water from boiling noodles</td><td>1/4 cup</td></tr>
    </table>

    <h4>For the noodles and vegetables</h4>
    <table>    
        <tr><th>Ingredient</th><th>Amount</th></tr>
        <tr><td>dried white noodles</td><td>1 lb.</td></tr>
        <tr><td>leafy greens (baby bok choi)</td><td>1 lb. fresh</td></tr>
        <tr><td>chopped peanuts</td><td>to taste</td></tr>
        <tr><td>chopped scallions</td><td>to taste</td></tr>
    </table>

    <h3>Preparation Instructions:</h3>
    <h4 id="Oil">Step One: Chili Oil</h4>
        <ul>
        <li>In a small pot, add the Sichuan peppercorns, cinnamon stick, star anise, and oil. 
        <li>Over medium low heat, slowly heat to 325 degrees Fahrenheit, and then turn off the heat. Wait 6-7 minutes, then remove the peppercorns, cinnamon stick, and star anise with a slotted spoon. </li>
        <li>Add the crushed red pepper flakes and allow them to steep in the hot oil. It should start smelling fragrant, almost like popcorn. Allow the oil to cool.</li>
        </ul>

    <h4 id="Meat">Step Two: The Meat</h4>
    <ul>
        <li>In a wok, heat a teaspoon of oil over medium heat, and brown the veggie meat.</li>
        <li>Add the sweet bean sauce, shaoxing wine, dark soy sauce, and five spice powder. Cook until all the liquid is evaporated. Set aside. Heat the other 2 teaspoons of oil in the wok over medium heat for a few minutes. Set aside.</li>
    </ul>

    <h4 id="Sauce">Step Three: The Sauce</h4>
    <ul>
        <li>Mix together all the ingredients. Taste and adjust seasoning if you like. You can loosen it with more hot water, add more Sichuan peppercorn powder, etc.</li>
    </ul>

    <h4 id="Noodles">Step Four: The Noodles, and Final Assembly</h4>
    <ul>
        <li>Cook the noodles according to package directions and drain. We used fresh noodles, but dry noodles are great too. I actually might prefer the dried, because they’re a bit less starchy. (Now would be the time to add some of the noodle cooking water to your sauce). Blanch the greens in the noodle water, and drain.</li>
        <li>Sprinkle with chopped peanuts and scallions.</li>
    </ul>
</article>
    
<article>
<h2 id="potatacos">Potato Tacos (potatacos)</h2>
<img src="images/potatacos.jpg" alt="Tacos made with sweet potatoes" title="Sweet Potato Tacos" width=500>    
<ul>
    <li><a href="#Ingredients">Ingredients</a></li>
    <li><a href="#Oil">Make the Chili Oil</a></li>
    <li><a href="#Meat">Prep the Meat</a></li>
    <li><a href="#Sauce">Make the Sauce</a></li>
    <li><a href="#Noodles">The Noodles, and final assembly</a></li>
</ul>
    
<h3 id="Ingredients">Ingredients Required</h3>

<h4>Chili Oil</h4>
<ul>
    <li>2 tablespoons Sichuan peppercorns</li>
    <li>1 inch-long piece of cinnamon</li>
    <li>2 star anise</li>
    <li>1 cup oil</li>
    <li>1/4 cup crushed red pepper flakes</li>
</ul>    

<h4>For the meat</h4>
<ul>    
    <li>3 teaspoons oil</li>
    <li>8 oz. veggie crumbles</li>
    <li>2 teaspoons hoisin sauce</li>
    <li>2 teaspoons shaoxing wine</li>
    <li>1 teaspoon dark soy sauce</li>
    <li>1/2 teaspoon five spice powder</li>
</ul>

<h4>For the sauce</h4>
<ul>
    <li>2 tablespoons sesame paste</li>
    <li>3 tablespoons soy sauce</li>
    <li>2 teaspoons suger</li>
    <li>1/4 teaspoon five spice powder</li>
    <li>1/2 teaspoon Sichuan peppercorns</li>
    <li>1/2 of the prepared chili oil</li>
    <li>2 cloves garlic</li>
    <li>1/4 cup hot cooking water from the boiling noodles</li>
</ul>

<h4>For the noodles and vegetables</h4>
<ul>
    <li>1 lb fresh or dried white noodles</li>
    <li>1 small bunch leafy greens (baby bok choi)</li>
    <li>chopped peanuts</li>
    <li>chopped scallion</li>
</ul>
<h3>Preparation Instructions:</h3>
<h4 id="Oil">Step One: Chili Oil</h4>
    <ul>
    <li></li>
</ul>
    
<h4 id="Meat">Step Two: The Meat</h4>
<ul>
    <li></li>
</ul>
    
<h4 id="Sauce">Step Three: The Sauce</h4>
<ul>
    <li></li>
</ul>
    
<h4 id="Noodles">Step Four: The Noodles, and Final Assembly</h4>
<ul>
    <li></li>
</ul>
</article>
</body>
</html>>
    <li></li>
</ul>
    
<h4 id="Noodles">Step Four: The Noodles, and Final Assembly</h4>
<ul>
    <li></li>
</ul>
</article>
</body>
</html>